@import '_reset'
@import 'functions'

$font-size-base: 16px
$color-fff: #fff
$color-000: #000
$color-f2f: #f2f2f2
$color-light-green: #7ED321
$checkbox-size: 20px
$color-9b: #9b9b9b

html, body 
  background-color: $color-f2f
  font-family: 'HelveticaNeue-Medium, Arial, sans-serif'
body
  margin: 0

section, div, span 
  // border: 1px solid red
  font-family: 'HelveticaNeue-Medium, Arial, sans-serif'

.bg-green
  background-color: $color-light-green
.bg-gray
  background-color: $color-9b

#header
  display: inline-block
  width: 100%
  background-color: rgba(0,0,0,1)
  text-align: center
  font-size: $font-size-base
  .container
    display: inline-block
    margin: 0 auto
    width: 100%
    padding: 0px
    > *
      float: left
      display: inline-block
      height: 70px
      line-height: 70px
      
    .logo
      width: 150px
      font-size: 1.5em
      font-weight: 900
      color: $color-fff
      float: left
    .user
      width: 60px
      font-size: 1em
      color: $color-fff
      font-weight: 900
      float: right
    .menu
      width: calc(100% - 210px)
      & a
        display: inline-block
        padding: 0 1em
        float: left
        text-decoration: none
        font-weight: 900
        font-size: 1em
        color: $color-fff
        position: relative
        &:hover:after, &:active:after
          content: ''
          position: absolute
          bottom: -3px
          left: 0
          border-bottom: 3px solid $color-fff
          width: 100%
        
        &.active
          border-bottom: 3px solid $color-fff

section
  .container
    padding: 30px 15px
    @media(min-width: 768px)
      padding: 30px 10% 30px 10%

.checkbox
  display: inline-block
  position: relative
  +size($checkbox-size)
  cursor: pointer
  > input[type='checkbox']
    position: absolute
    left: 0
    top: 0
    display: inline-block
    z-index: 1
    border: 1px solid rgba(255, 0, 0, .3)
    opacity: 0
    &:checked
      + span
        background-color: $color-000
        color: $color-fff
        &:before
          display: inline-block
  > span
    position: relative
    z-index: 2
    display: inline-block
    +size($checkbox-size)
    line-height: $checkbox-size
    border: 1px solid $color-000
    border-radius: 2px
    font-family: 'Font Awesome 5 Free'
    &:before
      font-family: 'Font Awesome 5 Free'
      content: '\F00C'
      font-size: 14px
      text-align: center
      display: none
      position: absolute
      left: 0
      top: 0
      +size(100%,100%)
      font-style: normal
      font-variant: normal
      text-rendering: auto
      font-weight: 900
      -webkit-font-smoothing: antialiased
    
table.table-frame
  width: 100%
  border-spacing: 0
  font-size: $font-size-base
  thead
    tr
      th
        height: 40px
        line-height: 40px
        text-align: center
        font-weight: 600
        font-size: 1em
        color: $color-000
        background-color: $color-fff 
  